<html>
    <div class="main1">
        <center> <img src={{image}} width=800px; height=300px; style="border:3px solid #ece8e8;" > </center>
  <head>
    <title>Login Page</title>
  </head>
  <body>
    <h1>Register</h1>
    <form action="{{ url_for('view.register') }}" method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username"><br><br>
      <label for="password">Password :</label>
      <input type="password" id="password" name="password"><br><br>
      <label for="confirm_password">Confirm Password:</label>
      <input type="password" id="confirm_password" name="confirm_password"><br><br>
      <input type="submit" value="Register">
    </form>
 

  </body>
</html>